.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 51%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 52px;
        margin:0;
        font-family:monospace; 
        font-weight: 400;
        
       
        
        img {
            width: 48px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.9s;
        }

    }
}

h2 {
    color: #212120;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'arial';
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: #ffcc33;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 600;
    font-family: 'arial';
    text-decoration: none;
    padding: 10px 16px;
    border: 1px solid #ffcc33;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ffcc33;
        color: #333;
    }
}