
html {
  font-size: 2.5%;
}

body {
  margin: 0;
  font:  300 12px/1.4 'arial', 'sans-serif';
  color: #444;
  /* 022c43  4c5f87 */
  background: #33456bed; 
  overflow: hidden;
  display: block; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


